/* Normalize */
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  padding: 0;
}

.text-center {
  text-align: center;
}

:root {
  background-color: #ffffff;
}

/* Typography */
html,
body {
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  letter-spacing: normal;
  font-weight: 400;
  background-color: #ffffff;
  color: #000000;
  overflow-wrap: break-word;
  transition: 0.125s cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 768px) and (max-width: 1024px) {
  html,
  body {
    font-size: 14px;
  }
}

@media (min-width: 1024px) {
  html,
  body {
    font-size: 16px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0.42em;
  margin-bottom: 0.25em;
  font-weight: 700;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.25rem;
}
h5 {
  font-size: 1rem;
}
h6 {
  font-size: 0.75rem;
}
small {
  font-size: 0.6em;
}

h1 small,
h2 small,
h3 small {
  font-size: 0.6em;
}

h4 small,
h5 small,
h6 small {
  font-size: 0.8em;
}

nav a {
  color: #f3bd39;
  text-decoration: unset;
}

a:hover {
  cursor: pointer;
  color: white;
}

a.no-style {
  color: unset;
  text-decoration: unset;
}

a.no-style:hover {
  text-decoration: unset;
}

a.no-color {
  color: unset;
}

p {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.25rem;
}

.colossal {
  font-size: 96px;
  margin: 0;
  line-height: 1;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.mammoth {
  font-size: 3rem;
  margin: 0;
  line-height: 1;
  letter-spacing: 2px;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .mammoth {
    font-size: 8rem;
  }
}

/* Navbar */
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #2c5ca3;
  overflow-x: auto;
}

nav > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1024px;
  width: 100%;
}

nav > div > div {
  display: flex;
  align-items: center;
}

nav > div > div > div {
  padding: 8px;
}

/* Frontpage Header */
.frontpage-header {
  height: 100vh;
  width: 100%;
  background: no-repeat center center scroll;
  background-size: cover;
}

.frontpage-header > .overlay {
  height: 100%;
  width: 100%;
  background-color: #00000080;
  display: flex;
  justify-content: center;
  align-items: center;
}

.frontpage-header > .overlay > .title {
  color: #ffffff;
}

.frontpage-header.first {
  background-image: url(/img/xelogo.png);
}

.frontpage-header.second {
  background-image: url(/img/scholarship.jpg);
}

.frontpage-header.third {
  background-image: url(/img/character.jpg);
}

.frontpage-header.fourth {
  background-image: url(/img/practicality.jpg);
}

.frontpage-header.fifth {
  background-image: url(/img/construction-site-build-construction-work-159306.jpeg);
}

/* Page */

.page-title {
  margin: 64px 0 32px;
}

.container {
  width: 100%;
  max-width: 1024px;
  padding: 8px;
  margin: auto;
}

.container.thin {
  max-width: 768px;
}

.top {
  margin-top: 64px;
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 32px 0;
}

.profile.swap {
  flex-direction: row-reverse;
}

.profile > .column {
  width: 100%;
  display: flex;
  padding: 16px;
}

.profile > .column.photo {
  justify-content: center;
  align-items: center;
}

.profile > .column.description {
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

@media (min-width: 1024px) {
  .profile > .column {
    width: 50%;
  }
}

.profile > .column > .profile-photo {
  width: 256px;
  height: 256px;
  object-fit: cover;
  border-radius: 50%;
}

.hero {
  padding: 64px;
  font-size: 3rem;
  min-height: 512px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.section {
  padding: 64px 96px;
  background-color: #dbdbdb;
  border-radius: 8px;
}

.section-title {
  margin: 64px 0 32px;
}

.member-photo {
  width: 100%;
  object-fit: cover;
}

.card-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.card-row > .card {
  background-color: #dbdbdb;
  padding: 16px 32px;
  margin: 8px;
  width: calc(50% - 16px);
  border-radius: 4px;
}

@media (min-width: 1024px) {
  .card-row > .card {
    width: calc(25% - 16px);
  }
}

footer {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #222222;
  color: #ffffff;
  padding: 32px;
  text-align: center;
}

footer > .column {
  width: 25%;
}

footer a {
  text-decoration: underline;
  color: inherit;
}

footer .title {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 1.25rem;
}
