/* NORMALIZE */
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  padding: 0;
}

.text-center {
  text-align: center;
}

:root {
  background-color: #ffffff;
}


/* TYPOGRAPHY */
html,
body {
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  letter-spacing: normal;
  font-weight: 400;
  background-color: #ffffff;
  color: #000000;
  overflow-wrap: break-word;
  transition: 0.125s cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
}

@media (min-width: 768px) and (max-width: 1024px) {
  html,
  body {
    font-size: 14px;
  }
}

@media (min-width: 1024px) {
  html,
  body {
    font-size: 16px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  font-weight: 700;
}
h1 {
  font-size: 5rem;
  text-align: center;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.25rem;
}
h5 {
  font-size: 1rem;
}
h6 {
  font-size: 0.75rem;
}
small {
  font-size: 0.6em;
}

h1 small,
h2 small,
h3 small {
  font-size: 0.6em;
}

h4 small,
h5 small,
h6 small {
  font-size: 0.8em;
}

a {
  text-decoration: none;
  color: unset;
}

p {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.25rem;
}

.colossal {
  font-size: 96px;
  margin: 0;
  line-height: 1;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.mammoth {
  font-size: 3rem;
  margin: 0;
  line-height: 1;
  letter-spacing: 2px;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .mammoth {
    font-size: 8rem;
  }
}

@media screen and (max-width: 1125px) {
  html,
  body {
    min-width: 100%;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap');


/* NAVBAR */
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 64px;
  background-color: #2C5CA3;
  overflow-x: auto;
  z-index: 9999;

  & > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1024px;
    width: 100%;

    & > div {
      display: flex;
      align-items: center;

      & > div {
        padding: 8px;
      }
    }
  }
}

nav a {
  color: #f3bd39;
  text-decoration: unset;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 1px;
}

nav a:hover {
  cursor: pointer;
  color: white;
}
//
// @media screen and (max-width: 1125px) {
//   nav div {
//     justify-content: space-around;
//   }
// }

/* FRONTPAGE HEADER */
.frontpage-header {
  height: 75vh;
  width: 100%;
  background: no-repeat center center scroll;
  background-size: cover;

  & > .overlay {
    height: 100%;
    width: 100%;
    background-color: #00000080;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & > .title {
      color: #FFFFFF;
      text-align: center;
      font-family: 'Oswald', sans-serif;

      & > p {
        text-transform: uppercase;
        text-align: right;
        font-size: 20px;
      }
    }

    & > .mini-title {
      color: #FFFFFF;
      font-size: 75px;
      text-align: center;
    }
  }

  &.first {
    background-image: url(/img/EngineeringVI.jpg);
    margin-top: 64px;
  }

  &.second {
    background-image: url(/img/scholarship.jpg);
    height: 30vh;
  }

  &.third {
    background-image: url(/img/character.jpg);
    height: 30vh;
  }

  &.fourth {
    background-image: url(/img/practicality.jpg);
    height: 30vh;
  }

  &.fifth {
    background-image: url(/img/construction-site-build-construction-work-159306.jpeg);
    height: 30vh;
  }
}

.title-buttons {
  display: flex;
  flex-direction: row-reverse;
  font-family: 'Assistant', sans-serif;
}

.overlay .button {
  background-color: transparent;
  border-left-style: none;
  border-right-style: none;
  border-top-style: solid;
  border-bottom-style: solid;
  margin: 0px 15px 0px 15px;
  color: white;
  padding: 8px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-property: color;
  transition-duration: 0.4s;
}

.overlay .button:hover{
  color: #F3BD39;
}

.main {
  margin-top: 64px;
  min-height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1125px) {
  .main .container {
    min-width: 100vw;
  }

  .main .container-grid {
    min-width: 100vw;
  }
}

@media screen and (max-width: 1125px) {
  .frontpage-header .overlay .mini-title {
    font-size: 50px;
  }

  .frontpage-header .overlay .title {
    font-size: 5rem;
  }

  .frontpage-header .overlay .title p {
    text-align: center;
  }

  .frontpage-header .overlay .title-buttons {
    justify-content: center;
  }

  .info-container {
    min-width: 75%;
    margin: 0 !important;
  }

  .info-container h2 {
    text-align: center;
  }

  .info-container p {
    text-align: center;
  }

  .overlay .buttion {
    font-size: 12px;
  }
}

/* FRONTPAGE INFO */
.frontpage-info {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 30px 0px;
  margin-top: 0px;
  margin-bottom: 15px;
}

.pic-container {
  color: black;
  margin: 0px 0px 0px 0px;
  background-image: url(/img/xelogo.png);
  background-size: 550px;
  background-position: center;
  background-repeat: no-repeat;
  width: 500px;
  height: 625px;
  // flex: 1;
}

.info-container {
  color: black;
  margin: 0px 0px 0px 30px;
  width: 60%;
  height: auto;
  align-items: center;
  justify-content: center;
  // flex: 2;
}

.info-container h2 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  line-height: 15px;
}

.info-container p {
  font-size: 13.2px;
  font-family: Arial;
}


/* ALL PAGES [MAY CHANGE] */
.page-title {
  margin: 10px 0;
  font-family: 'Pathway Gothic One', sans-serif;
  letter-spacing: 4px;
}

.container {
  width: 100%;
  // max-width: 1024px;
  // padding: 8px;
  margin: auto;
}

.container.thin {
  max-width: 75%;
}

.container-grid {
  display: grid;
  width: 100%;
}

.hero {
  padding: 64px;
  font-size: 3rem;
  min-height: 512px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.section {
  padding: 25px 64px;
  background-color: #dbdbdb;
  border-radius: 8px;
}

.section-title {
  margin: 64px 0 32px;
}


/* OFFICERS */
.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 32px 0;
}

.profile.swap {
  flex-direction: row-reverse;
}

.profile > .column {
  width: 100%;
  display: flex;
  padding: 16px;
}

.profile > .column.photo {
  justify-content: center;
  align-items: center;
}

.profile > .column.description {
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

@media (min-width: 1024px) {
  .profile > .column {
    width: 50%;
  }
}

.profile > .column > .profile-photo {
  width: 256px;
  height: 256px;
  object-fit: cover;
  border-radius: 50%;
}

.name h3 {
  font-family: 'Oswald', sans-serif;
  font-size: 36px;
  margin-bottom: 0px;
}

.officer-title h4 {
  font-family: 'Open Sans Condensed', sans-serif;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 4px;
  margin-top: 0px;
}

.officers-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 20px;
}

.officers-button {
  position: relative;
  padding: 1em 1.5em;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  font-size: 16px;
  margin: 1em 0.8em;
  text-transform: uppercase;

  &.type1 {
    color: #000000;
    &.type1::after,
    &.type1::before {
      content: '';
      display: block;
      position: absolute;
      width: 20%;
      height: 20%;
      border: 2px solid;
      transition: all 0.6s ease;
      border-radius: 2px;
    }

    &.type1::after {
      bottom: 0;
      right: 0;
      border-top-color: transparent;
      border-left-color: transparent;
      border-bottom-color: #000000;
      border-right-color: #000000;
    }

    &.type1::before {
      top: 0;
      left: 0;
      border-bottom-color: transparent;
      border-right-color: transparent;
      border-top-color: #000000;
      border-left-color: #000000;
    }

    &.type1:hover:after,
    &.type1:hover:before {
      width: 100%;
      height: 100%;
    }
  }
}

.officers-background {
  background-color: #244B84;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 25vh;
  width: 100%;
  grid-area: 1/1;
  z-index: 1;
  padding: 0px 0px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  color: #FFFFFF;
  text-shadow: 2px 2px #2C5CA3;
}

/* MEMBERS */
.member-photo {
  width: 100%;
  object-fit: cover;
}

.card-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.card-row > .card {
  background-color: #dbdbdb;
  padding: 16px 32px;
  margin: 8px;
  width: calc(50% - 16px);
  border-radius: 4px;
}

@media (min-width: 1024px) {
  .card-row > .card {
    width: calc(25% - 16px);
  }
}

.memebers-content {
  grid-area: 1/1;
  z-index: 2;
}

.members-background {
  background-color: #346DC2;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 25vh;
  width: 100%;
  grid-area: 1/1;
  z-index: 1;
  padding: 0px 0px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  color: #FFFFFF;
  text-shadow: 2px 2px #2C5CA3;
}

.members-background h1 {
  font-family: 'Pathway Gothic One', sans-serif;
  letter-spacing: 4px;
}

.members-container {
  width: 100%;
  max-width: 1024px;
  padding: 8px;
  margin: auto;
}

.card h4 {
  font-family: 'Oswald', sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.card h5 {
  font-family: 'Open Sans Condensed', sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 1px;
}

@media screen and (max-width: 1125px) {
  .card h4 {
    font-size: 18px;
    text-align: center;
  }

  .card h5 {
    font-size: 14px;
    text-align: center;
  }
}


/* INITIATES */
.initiates-background {
  background-color: #6D98D8;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 250px;
  width: 100%;
  grid-area: 1/1;
  z-index: 1;
}

.initiates-content .page-title {
  color: white;
  text-shadow: 2px 2px #2C5CA3;
  width: 100%;
}

.initiates-content {
  grid-area: 1/1;
  z-index: 2;
  width: 100%;
}

.task-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.task-card {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: black solid 2px;
  color: black;
  height: 200px;
  width: 400px;
  min-width: 300px;
  margin: 15px;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 10px 30px;
}

.task-card h3 {
  font-family: 'Open Sans Condensed', sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 36px;
}

.task-card h4 {
  font-family: 'Oswald', sans-serif;
}

@media only screen and (max-width: 1125px) {
  .task-card {
    max-width: 300px;
    padding: 10px 10px;
  }

  .task-grid {
    min-width: 100%;
  }

  .task-card h3 {
    font-size: 30px;
  }

  .task-card h4 {
    font-size: 20px;
  }

  .task-card p {
    font-size: 8px;
  }
}

.task-card h4 {
  line-height: 0px;
}

.task-card p {
  font-size: 18px;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.status-button {
  background-color: black;
  border: transparent;
  margin: 0px 15px 0px 15px;
  color: white;
  padding: 8px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  transition-property: background-color, color, border;
  transition-duration: 0.4s;
}

.status-button:hover {
  background-color: transparent;
  color: black;
  border: 2px solid black;
}

@media screen and (max-width: 1125px) {
  .container {
    max-width: 100%;
  }

  .container-grid {
    max-width: 100%;
  }
}


/* JOIN US */
.join-background {
  background-color: #ABC4E8;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 250px;
  width: 100%;
  grid-area: 1/1;
  z-index: 1;
}

.join-content .page-title {
  color: white;
  text-shadow: 2px 2px #2C5CA3;
}

.join-content {
  grid-area: 1/1;
  z-index: 2;
}

.container-grid {
  display: grid;
}

.join-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0px 20px;
}

.join-card {
  display: flex;
  flex-direction: column;
  flex: 1 1 0px;
  background-color: white;
  border: black solid 2px;
  color: black;
  height: auto;
  width: 400px;
  min-width: 300px;
  margin: 15px;
  text-align: center;
  align-items: center;
  justify-content: top;
  padding: 10px 30px;
  align-self: stretch;
}

.join-logo {
  background-image: url(/img/xelogotransparent.png);
  background-position: center;
  background-size: cover;
  height: 75px;
  width: 75px;
  border: transparent;
  border-radius: 50%;
}

.join-card h3 {
  font-family: 'Open Sans Condensed', sans-serif;
  text-transform: uppercase;
}
.join-card p {
  font-size: 15px;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.national-button {
  background-color: black;
  border: transparent;
  margin: 0px 15px 0px 15px;
  color: white;
  padding: 8px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  transition-property: background-color, color, border;
  transition-duration: 0.4s;
}

.national-button:hover {
  background-color: transparent;
  color: black;
  border: 2px solid black;
}

@media screen and (max-width: 1125px) {
  .join-card {
    max-width: 85%;
  }

  .join-content {
    min-width: 100%;
  }

  .join-card h3 {
    font-size: 32px;
  }

  .national-button {
    margin: 0px 0px 0px 0px;
    font-size: 14px;
  }
}


/* EVENTS */
.events-background {
  background-color: #CAD9F1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 200px;
  width: 100%;
  grid-area: 1/1;
  z-index: 1;
}

.events-content .page-title {
  color: white;
  text-shadow: 2px 2px #2C5CA3;
}

.events-content {
  justify-content: center;
  align-items: center;
  grid-area: 1/1;
  z-index: 2;
  margin-bottom: 20px;
}

.calendar {
  text-align: center;
}

@media screen and (max-width: 1125px) {
  iframe {
    max-width: 100%;
    overflow: scroll;
  }
}


/* FOOTER */
footer {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #222222;
  color: #ffffff;
  padding: 32px;
  text-align: center;
  font-family: 'Assistant', sans-serif;

  & > .column {
    width: 25%;
  }

  a {
    text-decoration: underline;
    color: inherit;
  }

  .title {
    font-family: 'Assistant', sans-serif;
    font-weight: 700;
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 1125px) {
  footer {
    padding: 25px;
    min-width: 100%;
  }

  footer .column {
    margin: 0px 10px;
    width: 45%;
  }
}


// <!-- Add to Main Page Header Section -->
.section h2 {    // ????????
  font-size: 30px;
}

.section p {    // ?????????
  font-size: 14px;
}
