{{ define "title"}}
UCLA Chi Epsilon
{{ end }}
{{ define "main" }}
<div class="frontpage-header first">
  <div class="overlay">
    <div class="title mammoth">
      Welcome
    </div>
  </div>
</div>
<div class="frontpage-header second">
  <div class="overlay">
    <div class="title mammoth">
      Scholarship
    </div>
  </div>
</div>
<div class="frontpage-header third">
  <div class="overlay">
    <div class="title mammoth">
      Character
    </div>
  </div>
</div>
<div class="frontpage-header fourth">
  <div class="overlay">
    <div class="title mammoth">
      Practicality
    </div>
  </div>
</div>
<div class="frontpage-header fifth">
  <div class="overlay">
    <div class="title mammoth">
      Sociability
    </div>
  </div>
</div>
{{ end }}
